<ion-tab-bar class="custom-tab-bar">
  <ion-tab-button tab="inicio" href="/tabs/inicio">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    <ion-label>Voltar</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>t_gimnosperma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">t_gimnosperma</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
