<ion-tab-bar class="custom-tab-bar">
  <ion-tab-button tab="inicio" href="/tabs/inicio">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    <ion-label>Voltar</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Angiospermas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Angiospermas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Angiospermas" src="https://cdn.pixabay.com/photo/2022/07/14/10/48/pink-flowers-7320987_1280.jpg" />
    <ion-card-header>
      <ion-card-title>Angiospermas</ion-card-title>
      <ion-card-subtitle>Informações</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui estão algumas informações sobre as Angiospermas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Morfologia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      As angiospermas apresentam uma grande variedade de espéciesm além de ser bem adaptada, podendo viver em vários locais do planeta
    <br><br>
      Elas possuem variados tamanhos distintos, desde árvores que conseguem chegar a 100m de altura, até plantas aquáticas e com poucos milímetros
    <br><br>
      São plantas vasculares, ou seja, possuem xilema e floema, que são tecidos vegetais que transportam água, sais minerais e nutrientes pelas plantas.
    <br><br>
      Possuem raízes, caule, folhas, flores, frutos e sementes 
    <br><br>
      Tem flores vistosas que liberam odores para atrair polonizadores
    <br><br>
      Possuem frutos que protegem e dispersam as sementes



    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Estrutura</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Suas raízes Podem ser pivotantes (principal) ou fasciculadas (cabelos), elas tem a função de absorver água e nutrientes, e fixar a planta ao solo.
    <br><br>
    
      Seu caule podem ter caracterídticas herbáceas ou lenhosas, seu caule tem a função de sustentar a planta, transportar água, nutrientes e produtos da fotossíntese entre raízes e folhas.
    <br><br>
    
      Suas folhas são muito variáveis, podendo ser simples ou compostas, as folhas são seu principal órgão fotossintético, que também é envolvido na transpiração e troca gasosa.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Flores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    
      As flores são compostas por várias partes, incluindo:
    <br><br>
    
      Sépalas: Protegem a flor em botão.
    <br><br>
    
      Pétalas: Atraem polinizadores com suas cores e perfumes.
    <br><br>
      
    Estames: Órgãos masculinos que produzem pólen.
    <br><br>

      Carpelos: Órgãos femininos que contêm os óvulos.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Frutos e Sementes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Frutos: Desenvolvem-se a partir dos ovários das flores após a fertilização e protegem as sementes em desenvolvimento.
      <br><br> 
      Sementes: Contêm o embrião da planta e são distribuídas por diversos meios, como vento, água, e animais.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Características Específicas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Presença de Flores: Flores variam amplamente em forma, tamanho e cor, sendo cruciais para a reprodução através da polinização
      <br><br> 
      Frutos: Formam-se após a fertilização e protegem e auxiliam na dispersão das sementes.
      <br><br> 
      Diversidade Morfológica: Grande variedade de formas e tamanhos, adaptadas a diferentes ambientes.
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aspectos Reprodutivos</ion-card-title>  
    </ion-card-header>

    <ion-card-content>
      A reprodução das angiospermas inicia com a polinização. A polinização é o transporte do grão de pólen da antera até o estigma, onde se forma o tubo polínico.
      <br><br>
      Ao se instalar no estigma, o grão de pólen germina e forma o tubo polínico. Este cresce, através do estilete, até atingir o óvulo, no ovário.
      <br><br>
      O óvulo apresenta dois tegumentos e uma grande célula-mãe de megásporo (2n) que sofre meiose e origina quatro células (n), das quais três se degeneram e uma forma o megásporo funcional (n).
      <br><br>
      O megásporo funcional sofre mitose e origina o saco embrionário com as seguintes células: uma oosfera, duas sinérgides, três antípodas e uma célula central com dois núcleos polares.
      <br><br>
      Enquanto isso, no interior do tubo polínico podem ser encontrados três núcleos: dois são núcleos espermáticos (gametas) e o outro é o núcleo do tubo que controla o seu crescimento.
      <br><br>
      Quando atinge o óvulo, o tubo polínico libera os seus dois núcleos espermáticos. Um núcleo espermático (n) fecunda a oosfera (gameta feminino - n) e forma um zigoto (2n) que dará ao embrião.
      <br><br>
      O outro núcleo espermático se une aos dois núcleos polares do óvulo, formando um núcleo triploide, que dará origem ao endosperma secundário que irá nutrir o embrião. Após a fecundação, o saco embrionário é chamado de endosperma secundário.
      <br><br>
      Como vimos, ocorrem duas fecundações. Por isso, as angiospermas apresentam fecundação dupla, uma característica exclusiva desse grupo.
      <br><br>
      Enquanto ocorre a dupla fecundação, os tegumentos do óvulo formam uma casca, que contendo o endosperma secundário e o embrião, formam a semente. Os hormônios produzidos pelo embrião, estimulam o desenvolvimento do fruto a partir do ovário.
    </ion-card-content>

    <img alt="Angiospermas" src="https://wikiciencias.casadasciencias.org/wiki/images/thumb/3/34/ciclovidaangiospermica.jpg/600px-ciclovidaangiospermica.jpg" />
  </ion-card>
  <ion-card>
    <ion-card-content>
      As angiospermas, ou plantas com flores, representam o grupo de plantas terrestres mais diversificado e bem-sucedido na Terra. Sua evolução trouxe avanços adaptativos únicos, que as diferenciam de outros grupos de plantas vasculares, como pteridófitas
      e gimnospermas. Surgindo no período Cretáceo, as angiospermas desenvolveram características reprodutivas e estruturais inovadoras, que lhes permitiram expandir-se amplamente e adaptar-se a uma variedade de ambientes.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>
        Aspectos Evolutivos
      </ion-card-title>
      <br>
      <ion-card-title>
        Adaptações ao Meio Terrestre
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Uma das principais inovações evolutivas das angiospermas foi o desenvolvimento de vasos condutores mais eficientes no xilema e floema. Isso possibilitou uma condução mais eficaz de água, nutrientes e produtos da fotossíntese, permitindo um crescimento 
      mais rápido e maior resistência a diferentes condições ambientais. As raízes das angiospermas também se desenvolveram para serem mais robustas e ramificadas, o que aumentou a eficiência na absorção de água e nutrientes, especialmente em solos mais secos e variados.
      <br><br>
      A forma e a estrutura das folhas das angiospermas também contribuem para uma adaptação altamente eficiente. Muitas espécies desenvolveram folhas com formas e tamanhos que maximizam a absorção de luz solar, além de cutículas e estômatos adaptáveis que
      minimizam a perda de água, permitindo uma ocupação mais ampla de ecossistemas, incluindo os áridos e com baixa umidade.  
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>
        Avanços Evolutivos na Reprodução
      </ion-card-title>
      <br>
    </ion-card-header>
    <ion-card-content>
      As flores são a característica mais distintiva e uma das maiores inovações evolutivas das angiospermas. As flores atraem polinizadores específicos, como insetos, aves e morcegos, através de cores, formas, odores e néctar. Esse desenvolvimento permitiu 
      que a polinização ocorresse de forma mais direcionada e eficiente, aumentando a probabilidade de reprodução bem-sucedida. Essa relação coevolutiva com polinizadores permitiu a colonização de diversos habitats e facilitou a adaptação a novas condições ambientais.
      <br><br>
      Outro avanço significativo é a produção de frutos que envolvem as sementes. Os frutos protegem as sementes e auxiliam em sua dispersão, permitindo que as angiospermas se espalhem em novos habitats. Frutos comestíveis, por exemplo, atraem animais que ingerem e 
      transportam as sementes para outras regiões, aumentando o alcance geográfico das espécies. Esse mecanismo de dispersão confere maior chance de sobrevivência para as plantas em ambientes variados e competitivos.
      <br><br>
      Além disso, o endosperma das sementes das angiospermas fornecem uma reserva nutritiva para o embrião, garantindo um maior sucesso durante a germinação, mesmo em condições adversas. Isso é um grande diferencial que confere uma vantagem adaptativa em relação a plantas 
      sem sementes nutritivas, como gimnospermas, facilitando o estabelecimento das angiospermas em diversos ecossistemas.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>
        Importância Evolutiva
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A diversificação das angiospermas teve um grande impacto nos ecossistemas, ajudando a moldar a biodiversidade terrestre como a conhecemos hoje. A capacidade de adaptação rápida e eficaz a diferentes condições ambientais e a relação mutualística com polinizadores e 
      dispersores contribuiu para a sua radiação adaptativa. Por isso, as angiospermas se tornaram o grupo de plantas dominante em praticamente todos os tipos de ecossistemas terrestres.
    </ion-card-content>

  </ion-card>
  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Instrumento de Visualização
      </ion-card-title>
      <ion-card-title>
        1. Lupa de Mão ou Estereomicroscópio
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Finalidade: Auxilia na observação de estruturas visíveis, como flores, frutos, sementes e outras partes da planta em detalhes.
      <br><br>
      Orientação de Uso: Coloque a flor, o fruto ou a folha sob o estereomicroscópio e ajuste o foco até visualizar detalhes como a organização das pétalas, estames e carpelos. Use a lupa de mão para analisar rapidamente diferentes partes das plantas no campo, o que é útil
      para comparar estruturas como diferentes formas de folhas e arranjos florais.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>
        2. Microscópio Óptico
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Finalidade: Permite visualizar estruturas microscópicas, como células do xilema e floema, tricomas (pelos), estômatos, e as camadas celulares da folha.
      <br><br>
      Orientação de Uso: Prepare uma lâmina com uma fina secção do caule, folha ou pétala. Adicione uma gota de água sobre a amostra e cubra com a lamínula. Coloque a lâmina no microscópio e comece com um aumento baixo, ajustando gradualmente para visualizar 
      detalhes dos tecidos vasculares e células especializadas, o que é fundamental para estudar a organização dos vasos e outras estruturas internas.  
    </ion-card-content>

  </ion-card>
  </ion-content>

