<ion-tab-bar class="custom-tab-bar">
  <ion-tab-button tab="inicio" href="/tabs/inicio">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    <ion-label>Voltar</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pteridófitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pteridófitas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Pteridófitas" src="https://static.todamateria.com.br/upload/pt/er/pteridofitas-1-cke.jpg" />
    <ion-card-header>
      <ion-card-title>Pteridófitas</ion-card-title>
      <ion-card-subtitle>Informações</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui estão algumas informações sobre as Pteridófitas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Morfologia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      As pteridófitas podem variar de espécies muito pequenas mas também podem ter espécies a atingir 20 metros de comprimento, com folhas que podem ter mais de 5 metros. 
      Podem ter diferentes formas, desde pequenas e herbáceas até grandes e de porte arbóreo
    </ion-card-content>
    <ion-card-content>
      São plantas vasculares, ou seja, possuem xilema e floema, que são tecidos vegetais que transportam água, sais minerais e nutrientes pelas plantas.
      Não possuem sementes, devido seu gametófito que cresce sem ligação ao esporófito, e também por serem traqueófitas (vasculares). 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Estrutura</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      As pteridófitas possuem dois tipos de tecidos especializados no transporte de substâncias: o xilema e o floema:
    </ion-card-content>
    <ion-card-content>
      O Xilema também conhecido como lenho, é responsável por transportar a seiva bruta, composta por água e minerais, da raiz para as folhas
    </ion-card-content>
    <ion-card-content>
      O Floema é responsável por transportar a seiva elaborada, composta por açúcares e outros compostos orgânicos, das folhas para o resto da planta.
    </ion-card-content>
    <ion-card-content>
      -Raízes: São verdadeiras e apresentam vasos condutores (xilema e floema), permitindo absorção eficiente de água e nutrientes do solo, em geral são subterrâneas, porém algumas podem ser aéreas e crescerem fora do solo;
    </ion-card-content>
    <ion-card-content>
      -Caule: Ele pode ser subcutâneo, ou seja, crescer abaixo do solo, ou paralelas ao solo (rizoma), o caule é a estrutura em que transporta a seiva por meio de vasos condutores, ademais, também tem a função de sustentar as folhas;
    </ion-card-content>
    <ion-card-content>
      -Folhas (Frondes): Costumam ser grandes, geralmente divididas em folíolos (pínulas). São laminares com células ricas em cloropastos, Sua função é realizar a fotossíntese, processo pelo qual são elaborados compostos orgânicos, especialmente açúcares.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aspectos Reprodutivos</ion-card-title>
      <br>
      <ion-card-title>Esporófito (Fase Diploide):</ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      Esporos: Produz esporos haploides por meiose em estruturas chamadas esporângios, que são frequentemente agrupadas em soros na parte inferior das frondes.
    </ion-card-content>
  
    <ion-card-content>
      Dispersão de Esporos: Esses esporos são liberados no ar e, ao caírem em um ambiente favorável, germinam.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Gametófito (Fase Haploide):</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Os esporos germinam e crescem para formar um pequeno gametófito verde e em forma de coração, conhecido como prótalo.
    </ion-card-content>
  
    <ion-card-content>
      No prótalo, desenvolvem-se os anterozoides (masculinos) e os arquegônios (femininos) que são os órgãos reprodutivos.
    </ion-card-content>

    <ion-card-content>
      A água é necessária para que os anterozoides nadem até os arquegônios, onde ocorre a fertilização, formando um zigoto diploide
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Desenvolvimento do Esporófito:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O zigoto desenvolve-se diretamente no esporófito, crescendo a partir do gametófito.
    </ion-card-content>
  
    <ion-card-content>
      O esporófito eventualmente se torna a planta adulta, completando o ciclo.
    </ion-card-content>
  
  
  <ion-card-header>
    <ion-card-title>Características Reprodutivas:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Esporulação: Produção de esporos é a principal forma de reprodução, não há sementes ou flores.
  </ion-card-content>

  <ion-card-content>
    Dependência de Água: Essencial para a fecundação, pois os anterozoides precisam nadar até os arquegônios.
  </ion-card-content>

  <ion-card-content>
    Vascularização: Presença de tecidos condutores (xilema e floema) nas fases esporofíticas.
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>Diferenças em Relação a Outras Plantas:</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Ausência de Sementes: Diferente das gimnospermas e angiospermas, as pteridófitas não produzem sementes.
  </ion-card-content>

  <ion-card-content>
    Ausência de Flores: Não possuem flores, que são características das angiospermas.
  </ion-card-content>

  <img alt="Pteridófitas" src="https://escolaeducacao.com.br/wp-content/uploads/2015/08/ciclo-de-vida-das-pteridofitas.jpg" />
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>
      Aspectos Evolutivos
    </ion-card-title>
    <br>
    <ion-card-title>
      Adaptações ao Meio Terrestre
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    As principais adaptações das pteridófitas ao ambiente terrestre incluem o desenvolvimento de estruturas vasculares (xilema e floema), tecidos especializados para conduzir água, nutrientes e produtos da fotossíntese. Essas estruturas permitiram que elas crescessem em tamanho e explorassem habitats mais variados, desde áreas úmidas até locais mais secos.
  </ion-card-content>
  <ion-card-content>
    Além disso, as pteridófitas desenvolveram uma cutícula, uma camada cerosa que cobre a superfície das folhas e reduz a perda de água por evaporação. Os estômatos, poros especializados nas folhas, possibilitam trocas gasosas controladas, permitindo que essas plantas absorvam dióxido de carbono para a fotossíntese e percam o mínimo de água possível.
  </ion-card-content>
  <ion-card-header>
    <ion-card-title>
      Adaptações ao Meio Terrestre
    </ion-card-title>
    <br>
  </ion-card-header>
  <ion-card-content>
    As pteridófitas mantêm uma alternância de gerações com um esporófito dominante, que é a fase visível e independente. Esse esporófito diploide tem maior capacidade de adaptação ao meio terrestre. No entanto, seu ciclo reprodutivo ainda depende da presença de água para a fecundação, pois os gametas masculinos precisam nadar até os gametas femininos. Esse aspecto limita a distribuição das pteridófitas a ambientes relativamente úmidos.
  </ion-card-content>
  <ion-card-header>
    <ion-card-title>
      Importância Evolutiva
    </ion-card-title>
    <br>
  </ion-card-header>
  <ion-card-content>
    A evolução das pteridófitas representou um avanço importante, pois elas abriram caminho para as plantas vasculares com sementes, como gimnospermas e angiospermas, que evoluíram para serem ainda menos dependentes de água para reprodução. As inovações morfológicas e fisiológicas das pteridófitas mostraram que era possível explorar novos ambientes e estabelecer-se em condições que antes eram habitadas apenas por plantas de pequeno porte e limitadas a áreas úmidas.
  </ion-card-content>

</ion-card>
<ion-card>

  <ion-card-header>
    <ion-card-title>
      Instrumento de Visualização
    </ion-card-title>
    <ion-card-title>
      1. Lupa de Mão ou Estereomicroscópio
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Finalidade: Permite observar detalhes da superfície da planta, como a estrutura das folhas, estômatos, soros (aglomerados de esporângios) e outras estruturas superficiais.
  </ion-card-content>
  <ion-card-content>
    Orientação de Uso: Coloque uma folha ou um esporófito (fase adulta) da planta sob o estereomicroscópio e ajuste o foco até visualizar claramente as estruturas. Com a lupa de mão, aproxime-a de áreas específicas, como a face inferior das folhas, para ver os soros onde os esporos são produzidos.
  </ion-card-content>

  <ion-card-header>
    <ion-card-title>
      2. Microscópio Óptico
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Finalidade: Essencial para observar detalhes menores, como os esporos, vasos condutores (xilema e floema) e a organização celular
  </ion-card-content>

  <ion-card-content>
    Orientação de Uso: Prepare uma lâmina com uma fina secção da folha ou caule de uma pteridófita, adicione uma gota de água e cubra com a lamínula. Coloque a lâmina no microscópio e comece com a lente de menor aumento. Aumente gradativamente para observar os vasos condutores, identificando xilema e floema, e as estruturas reprodutivas, como os esporos.
  </ion-card-content>

</ion-card>
</ion-content>
